{% assign project_card_size = project.card_size | default: '' %}
{% if project_card_size == '' %}
  {% assign project_title_length = project.title | size %}
  {% if project_title_length > 26 %}
    {% assign project_card_size = 'wide' %}
  {% else %}
    {% assign project_card_size = 'normal' %}
  {% endif %}
{% endif %}

{% case project_card_size %}
  {% when 'small' %}
    {% assign project_col_class = 'col-12 col-md-6 col-xl-3' %}
  {% when 'normal' %}
    {% assign project_col_class = 'col-12 col-md-6 col-xl-4' %}
  {% when 'wide' %}
    {% assign project_col_class = 'col-12 col-md-6 col-xl-5' %}
  {% else %}
    {% assign project_col_class = 'col-12 col-md-6 col-xl-4' %}
{% endcase %}

<div class="{{ project_col_class }}">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        <div class="row ml-1 mr-1 p-0">
          {% if project.github %}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
              {% if project.github_stars %}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fa-solid fa-star"></i>
                  <span id="{{ project.github_stars }}-stars"></span>
                </span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
